<div data-gsp-shows>
  <div class="upcoming-shows">
    <h2>Upcoming shows</h3>
    <ul>
      <li class="card" id="card_1">
        <div class="card-content">
          <figure><img src="/images/logos/scope-logo.png" /></figure>
          <h3>Miami Beach</h3>
          <span class="date">December 5 - 10, 2023</span>
          <p>International contemporary art show</p>
          <button>tickets</button>
        </div>
      </li>
      <li class="card" id="card_2">
        <div class="card-content">
          <figure><img src="/images/logos/laas-logo.png" /></figure>
          <h3>Los Angeles</h3>
          <span class="date">February 14 - 18, 2024</span>
          <p>LA Convention Center</p>
          <button>tickets</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="past-shows">
    <h2>Past Shows</h2>
    <ul>
      <li>2020 Cavalier Gallery, New York, NY</li>
      <li>2019 Cavalier Gallery, New York, NY</li>
      <li>2019 Chase Edwards Gallery, New York, NY</li>
      <li>2018 Ezair Gallery, New York, NY</li>
      <li>2018 Acquisitions of Fine Art Gallery, Hinsdale, IL</li>
      <li>2017 Chase Edward Gallery, Bridge Hampton, NY</li>
      <li>2016 Artist 101 Gallery, Los Angeles, CA</li>
      <li>2015 Castle Fitz Johns Gallery, New York, NY</li>
      <li>2015 Chase Edward Gallery, Bridge Hampton, NY</li>
      <li>2014 Castle Fitz Johns Gallery, New York, NY</li>
      <li>2013 DTR Modern Gallery, New York, NY</li>
      <li>2012 260 Bower Gallery, New York, NY</li>
      <li>2010 Coleman Burke Gallery, New York, NY</li>
      <li>2009 James Oliver Gallery, Philly PA</li>
      <li>2008 Dua Gallery, New York, NY</li>
      <li>2007 C.A.S. Catskills, NY</li>
      <li>2007 Point of View Gallery, New York, NY</li>
      <li>2006 Artcore Gallery, Brooklyn, NY</li>
      <li>2006 Lyssa Morgan Gallery, Tampa , FL</li>
      <li>2006 Art Gotham Gallery, New York, NY</li>
      <li>2004 Philosophy Box Gallery, New York, NY</li>
      <li>2000 Koening?s Gallery, Hamden, CT</li>
      <li>1998 Lazo's Gallery, Monroe, CT</li>
    </ul>
  </div>
  <div class="corp-collections">
    <h2>Corporate Collections</h2>
    <ul>
      <li>Google, New York, NY</li>
      <li>Voya Investment Management, New York, NY</li>
      <li>Centerstone Investors, New York</li>
      <li>Paladin Printing Company, Hartford, CT</li>
      <li>Red Alder Investment, New York</li>
      <li>First Eagle Fund, New York</li>
      <li>Barclay Investment, CAL</li>
      <li>First Mark Capital, New York</li>
      <li>Davis & Gilbert LLC, New York</li>
      <li>Deutsche Bank, New York</li>
      <li>Barclay Investments, New York</li>
      <li>Vernon Brown & Company, Inc. New York</li>
      <li>Merrill Lynch, New York</li>
      <li>Light House Investments, New York</li>
      <li>SunNova Capital LP., New York</li>
      <li>Alexander Suslensky LLC, New York</li>
      <li>ABC Windows Incorporated, Inc Chicago IL</li>
      <li>Switco LLC, Hamden, CT</li>
      <li>Axman Chiropractic Office, Hamden,CT</li>
    </ul>
  </div>
  <div class="group-shows">
    <h2>Group Shows</h2>
    <ul>
      <li>2020 Cavalier Gallery, Nantucket, MA</li>
      <li>2020 Cavalier Gallery, Greenwich, CT</li>
      <li>2019 Cavalier Gallery, Nantucket, MA</li>
      <li>2019 Cavalier Gallery, Greenwich, CT</li>
      <li>2018 Chase Edward Gallery, Bridge Hampton, NY</li>
      <li>2018 Ezair Gallery, New York, NY</li>
      <li>2018 Lichantundfire, New York, NY</li>
      <li>2018 Art 629 Gallery, Ashbury Park, NJ</li>
      <li>2017 Castle Fitz Johns Gallery, New York, NY</li>
      <li>2017 The Circle Gallery, Fair Flied, CT</li>
      <li>2017 Acquisitions of fine art gallery, Hinsdale, IL</li>
      <li>2016 128 Rivington Gallery, New York, NY</li>
      <li>2016 Salomon Art Gallery, New York, NY</li>
      <li>2015 Scope NYC Art Fair, New York, NY</li>
      <li>2015 Art Palm Beach Modern Contemporary Art Fair, Palm Beach, FL</li>
      <li>2014 Scope International Contemporary Art Show, Miami, FL</li>
      <li>2014 Art Basel Miami, FL</li>
      <li>2014 House Of Art Gallery, New York, NY</li>
      <li>2013 Art Basel, Miami, FL</li>
      <li>2013 Art Hamptons, NY</li>
      <li>2013 Castle Fitzojohn Gallery, New York, NY</li>
      <li>2013 Arthur T. Kalaher Fine Art, South Hampton, NY</li>
      <li>2012 260 Bower Gallery, NY</li>
      <li>2011 Art Hamptons, NY</li>
      <li>2011 POP UP SHOW, New York, NY</li>
      <li>2010 Red Dot Art Fair, New York, NY</li>
      <li>2010 Muriel Guépin Gallery, New York, NY</li>
      <li>2009 Michel Allen Gallery, New York, NY</li>
      <li>2009 Globe Dye Works; Layers, Philly, PA</li>
      <li>2008 Art Gotham , New York, NY</li>
      <li>2007 RARE Gallery, New York, NY</li>
      <li>2007 Milk Gallery, New York, NY</li>
      <li>2006 Petra Projects, New York, NY</li>
      <li>2006 Mike Bolen Gallery, Napa Valley, CA</li>
      <li>2006 Artrageous Auction</li>
      <li>2005 Zone Chelsea Gallery, New York, NY</li>
      <li>2005 323 Gallery, Soho, NY</li>
      <li>2005 Art Gotham Gallery, New York, NY</li>
      <li>2005 Lyssa Morgan Gallery, Tampa, FL</li>
      <li>2004 Miller Gallery, Albany, NY</li>
      <li>2003 Eldridge Street Project Auction, New York, NY</li>
      <li>2001 Untitled Space, New Haven, CT</li>
      <li>2000 Open Studio Showing, New Haven, CT</li>
    </ul>
  </div>
</div>