{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% set title = data.piece.title or data.page.title %}
{% block title %}
  {{ title }}
  {% if not title %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block beforeMain %}
<div class="gsp-page">
  {% component 'gsp-header:gspHeader' %}
  
  {% component 'gsp-cityscape:gspCityBackdrop' %}
  
  <!-- <main class="main"> -->
{% endblock %}

{% block main %}
  {#
    Usually, your page templates in the @apostrophecms/pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
{% endblock %}

{% block afterMain %}
  <!-- </main> -->
  {% component 'gsp-cityscape:gspCityClouds' %}
  <div data-gsp-city data-gsp-city-active="false">
    <div data-gspcity-bridge data-bridge="left" class="city-layer bottom"></div>
    <div data-gspcity-bridge data-bridge="right" class="city-layer bottom"></div>
    {% component 'gsp-cityscape:gspCityBuildings' %}
    <div data-gspcity-statue data-opacity="0" class="city-layer"></div>
    {% component 'gsp-cityscape:gspCityFront' %}
    <div data-gspcity-trees class="city-layer"></div>
    
    <!--
    <div data-gspcity-bridges class="city-layer bottom"></div>
    <div data-gspcity-buildings class="city-layer bottom"></div>
    <div data-gspcity-statue class="city-layer bottom"></div>
    <div data-gspcity-5 class="city-layer"></div>
    
    -->
  </div>
<div data-flowers="2" data-start="left" data-container="window" data-width-multiplier=".5" data-height-multiplier=".1" data-constraint-w=".6" data-constraint-h=".2" data-visibility="*">{% component 'gsp-flowers:gspFlowers' %}</div>
{% component 'gsp-footer:gspFooter' %}
</div>
{% endblock %}
