<footer class="gsp-footer gsp-grid">
  <div data-gsp-border="bottom"></div>
  <div class="panel">
    <span class="copyright">© 2023 Guy Stanley Philoche</span>
    <div class="share-links"></div>
  </div>
  <div data-flowers="3" data-start="right" data-container="window" data-width-multiplier=".75" data-height-multiplier=".2" data-constraint-w="1" data-constraint-h=".25" data-visibility="*">{% component 'gsp-flowers:gspFlowers' %}</div>
  <div class="np" data-flowers="3" data-start="right" data-container="window" data-width-multiplier=".6" data-height-multiplier=".1" data-constraint-w=".3" data-constraint-h=".2" data-visibility="*">{% component 'gsp-flowers:gspFlowers' %}</div>
</footer>