@import '../../../asset/ui/src/scss/_variables';
@import '../../../asset/ui/src/scss/_mixins';

[data-gsp-press] {
  .press-container {
    //padding: space(0, 2);
  }
  .columns {
    overflow-y: hidden;
    display: grid;
    gap: space(0);
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 80em;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    .column {
      //--column-offset: 10vh;
      display: flex;
      flex-direction: column;
      //padding: var(--column-offset) 0;
      &.column-reverse {
        //animation: adjust-position linear forwards;
        //animation-timeline: scroll(root block);
        //flex-direction: column-reverse;
      }
      .column__item {
        border: 1px solid rgba(var(--white), 1);
        box-sizing: border-box;
      }

      figure {
        
        img {
          display: block;
          //border-radius: 1em;
          width: 100%;
          height: auto;
          object-fit: cover;
          aspect-ratio: 1;
        }
      }
    }
  }
}