<div data-gsp-artist-info>
  <div class="artist-flag">
    <img data-opacity="1" class="flag" src="/images/svg/flag.svg" />
  </div>
  <div class="artist-image guy-a">
    <img data-opacity="0" class="guy-a" src="/images/guy-a.png" />
    <img data-opacity="0" class="guy-b" src="/images/guy-b.png" />
  </div>
  <div class="artist-info-content">
    <div class="artist-scroll-area">
      <div class="text-panel width100 first">
        <p>Haitian-born contemporary artist Guy Stanley Philoche, a figure of international acclaim, has etched a distinctive path in the modern art world.</p>
      </div>
      <div class="text-panel width60">
        <p>Migrating to Connecticut at three, Philoche's journey is deeply rooted in his Haitian heritage, and is a testament to his cultural pride and individuality.</p>
      </div>

      <div class="text-panel width100">
        <p>Philoche's academic pursuits in art commenced at Paier College of Art and were further refined at Yale University. These institutions nurtured his burgeoning talent, setting the stage for his unique artistic voice.</p>
      </div>
      <div class="text-panel width100">
        <p>In New York, a city renowned for its vibrant art scene and cultural richness, Philoche found a canvas that continuously fuels his creativity. His studio, amidst this urban landscape, is not just a space for creation but a hub of creative synergy, drawing from the city's endless energy. The city's iconic architecture, bustling streets, and diverse populace resonate in Philoche's work, as do the vibrant colors and textures reminiscent of his Haitian roots.</p>
      </div>
      <div class="text-panel width60 left">
        <p>Over the past 15 years, Philoche's art has captivated audiences worldwide, with solo exhibitions in prestigious New York galleries becoming must-attend events for celebrities and art connoisseurs. His robust, sophisticated palette and unique layering technique produce tactile paintings that invite engagement, reflecting both the complexity of New York and the rich tapestry of his Haitian heritage.</p>
      </div>
      <div class="text-panel width100 last">
        <p>Each of Philoche's canvases is an intersection of his cultural journey and his New York experiences. Celebrated for their sensory appeal and exclusivity, his works are symbols of both cultural sophistication and discerning taste. In New York, a city that embodies resilience and inspiration, Philoche has not only found a home but also a perpetual muse. His art is a tribute to the city's indomitable spirit, a celebration of its diversity, and a reflection of the intrinsic beauty found in the melding of cultures.</p>
      </div>
    </div>
  </div>
</div>