<div data-navigation class="navigation">
  <div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav>
      <a data-collections-control="init" class="nav-item" href="#"><span>The Collections</span></a>
      <a class="nav-item" href="#"><span>The Artist</span></a>
      <a class="nav-item" href="#"><span>The Exhibitions</span></a>
      <a class="nav-item" href="#"><span>The Press</span></a>
      <a class="nav-item" href="#"><span>The Merchandise</span></a>
  </nav>
</div>