{#
  This is an example home page template. It inherits and extends a layout template
  that lives in the top-level views/ folder for convenience
#}

{% extends "layout.html" %}

{% block main %}
  <svg class="hidden">
    <filter id="inset-shadow" x="-50%" y="-50%" width="200%" height="200%">
      <feComponentTransfer in=SourceAlpha>
        <feFuncA type="table" tableValues="1 0" />
      </feComponentTransfer>
      <feGaussianBlur stdDeviation="4"/>
      <feOffset dx="0" dy="0" result="offsetblur"/>
      <feFlood flood-color="rgba(0, 0, 0, .2)" result="color"/>
      <feComposite in2="offsetblur" operator="in"/>
      <feComposite in2="SourceAlpha" operator="in" />
      <feMerge>
        <feMergeNode in="SourceGraphic" />
        <feMergeNode />
      </feMerge>
    </filter>
  </svg>
  <section data-section="0" id="intro" class="intro"></section>
  <section data-section="1" id="collections" class="collections">
    {% component 'gsp-collections:collectionMenu' %}
  </section>
  <section data-section="2" id="theartist" class="theartist">
    {% component 'gsp-artist:artistInfoDisplay' %}
  </section>
  <section data-section="3" id="exhibitions" class="exhibitions">
    {% component 'gsp-shows:gspShows' %}
  </section>
  <section data-section="4" id="press" class="press">
    {% component 'gsp-press:gspPressDisplay' %}
  </section>
  <section data-section="5" id="merchandise" class="merchandise">
    <div class="placeholder"></div>
  </section>
{% endblock %}
