<div data-gsp-press>
  <div class="press-container">
    <div class="columns">
      <div class="column column-reverse">
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press36.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press33.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press30.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press27.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press24.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press21.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press18.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press15.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press12.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press09.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press06.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press03.jpg" /></a></div></figure>
      </div>
      <div class="column">
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press35.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press32.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press29.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press26.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press23.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press20.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press17.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press14.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press11.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press08.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press05.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press02.jpg" /></a></div></figure>
      </div>
      <div class="column column-reverse">
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press34.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press31.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press28.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press25.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press22.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press19.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press16.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press13.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press10.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press07.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press04.jpg" /></a></div></figure>
        <figure class="column__item"><div class="column__item-imgwrap"><a href=""><img src="/images/press/press01.jpg" /></a></div></figure>
      </div>
    </div>
  </div>
</div>